body {
    text-align: center;
    
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;


}

form {
    background-color: rgba(55, 0, 255, 0.2);
    padding: 5px 0 20px 0;
    margin: 0 40px 0 40px;
    border: 2px solid blue;
    
}

p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
   
}

.fill {
    width: 70%;
    
    padding: 10px;
}

#chooseone {
    width: 415px;
    padding: 10px;

}

.box {
    transform: scale(1.2);
}
label {
    font-size: 17px;
}